

  .marker {
            background-image: url('../mapbox-icon2.png');
            background-size: cover;
            width: 45px;
            height: 45px;
            cursor: pointer;
            
        }
        .marker:hover {
            width: 43px;
            height: 43px;
            cursor: pointer;
        }

  .mapboxgl-popup {
    max-width: 250px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  .map-overlay {
    position: absolute;
    width: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    max-height: 100%;
    overflow: hidden;
  }

  .map-overlay fieldset {
    display: none;
    background: #ddd;
    border: none;
    padding: 10px;
    margin: 0;
  }

  .map-overlay input {
    display: block;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
  }

  .map-overlay .listing {
    overflow: auto;
    max-height: 100%;
  }

  .map-overlay .listing>* {
    display: block;
    padding: 5px 10px;
    margin: 0;
  }

  .map-overlay .listing a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #404;
    text-decoration: none;
  }

  .map-overlay .listing a:last-child {
    border: none;
  }

  .map-overlay .listing a:hover {
    background: #f0f0f0;
  }

/* ////// */

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 63%;
    z-index: 3;  
}

.showFilters{
    
    right: 15px;
    
    padding: 3px;
    margin: 3px;
    
    width: 95px;

    border-style: solid;
    border-width: thin;
    border-color: #fff;

    color: #fff;
    text-align: center;

    background-color: #DC143C;
    font-family: 'Arial';
    font-size: 12;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
    z-index: 2;
    opacity: 0.5; 
}

.showFilters:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    opacity: 0.7;

}

.filterPanel{
    position: absolute;
    padding: 3px;
    top: 60px;
    left: 0px;
    border-radius: 5px;

    display: none;

    text-align: center;

    font-family: 'Arial';
    font-size: 12;
    z-index: 1;

}

.filter{
    padding: 3px;
    margin: 3px;
    width: 80%;

    border-style: solid;
    border-width: thin;
    border-color: #fff;

    color: #fff;
    text-align: center;

    background-color: #DC143C;
    font-family: 'Arial';
    font-size: 12;

    z-index: 1;
    opacity: 0.5;
}

.filter:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 82%;
    opacity: 0.8;
}

.toggleBanner0{
    position: relative;  /* Safari */
    position: sticky;
    max-height: 65px;
    top: 0;
    z-index: 3;

    display: flex;
    flex-flow: row wrap;

    width: 100%;
    
}

.toggleBanner1{
    position: absolute;
    top: 136px;
    right: 0;
    padding: 4px;
    z-index: 2;
   
    width: 10px;
    display: none;

    align-items: left;
    justify-content: left;

    width: 40px;
    
}



.toggleBanner2{
    position: relative;  /* Safari */
    position: sticky;
    
    max-height: 65px;
    top: 0;
    z-index: 3;

    
    display: none;

    width: 175px;
    order: 1;
    
}

.toggleMap{
    position: absolute;
    right: 10px;

    padding: 3px;
    margin: 3px;
    width: 50px;


    color: #fff;
    text-align: center;

    
    font-family: 'Arial';
    font-size: 12;

    z-index: 1000;
    opacity: 0.5;

    display: none;
}

.toggleMap:hover{
    cursor: pointer;
    opacity: 0.7;
}

.toggleList{
    

    padding: 3px;
    margin: 3px;
    width: 25px;
    height: 25px;
    border-radius: 7px;

    border-style: solid;
    border-width: thin;
    border-color: #fff;

    color: #fff;
    text-align: center;

    background-color: #6a7882;
    font-family: 'Arial';
    font-size: 12;

    z-index: 1000;
    opacity: 0.5;
}

.toggleList:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    opacity: 0.7;
}



.select-css {
    
	display: block;
	font-size: 16px;
	font-family: "Helvetica Neue";
	height: 55px;
	color: #444;
	line-height: 1.2;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
    border-color: #888;
    cursor: pointer;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}







@media only screen and (max-width:768px){
     
    #map{
        right: 0;
        width: 100%;
        z-index: 2;
    }
    
    .container{
        min-width: 100%;
        max-width: 100%;
        z-index: 3;
    }
    .card{
        
        min-width: 100%;
        max-width: 100%;
        
    }
    .toggleBanner0{
        display: flex;
    }
    .toggleBanner1{
        display: flex;
    }

    .toggleMap{
        
        display: block;
    }

    .select-css{
        font-size: 14px;
        width: 140px;
    }

}

.main-container {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    font-family: Arial;
    font-size: 14;
    
  }

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;

    

    align-items: top;
    justify-content: center;

    font-family: 'Arial';
    font-size: 14;
  }

#listingCards{
    position: absolute;
    padding: 10px;
    left: 0;
    top: 0;
    bottom: 0;
    width: 35%;
    
    background-color: #FFF; /*F5F5F5 */
    overflow: scroll;
    
    z-index: 2;
}

.card{
    width: 42%;
    
    border-style: solid;
    border-width: thin;
    border-color: #C0C0C0;
    border-radius: 10px;
    margin: 15px;
    z-index: 2;

    background-color: #fff;
    position: relative;
}

.card h4{
    margin: 15px;
    color: #DC143C;
}

.card a{
    text-decoration: none;
}

.popup_Anchor{
    color: #DC143C;
    text-decoration: none;

}

.card p{
    margin: 15px;
}

.card:hover{

    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImg{
    
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    min-width: 100%;
    max-width: 100%;
    
    position: relative;
    
}

.clickForm{
    font-family: 'Arial';
    font-size: 12;
    
    margin: auto;
    position: absolute;
    width: 200px;
    padding: 5px;
    left: 50%;
    top: 35%;
    background-color: #f0f0f0;
    opacity: 0.8;
    z-index: 1;

    display: none;

}

input{
    width: 200px;
}

.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.btn:hover{
    cursor: pointer;
    background-color: #4CA;
}

/* Zoom In/Out Control */
.leaflet-bar{
    position: absolute;
    top: 10px;
    left: 20px;
}

.addListing0{
    position: absolute;
    padding: 5px;
    top: 127px;
    left: 40px;
    width: 48px;
    height: 48px;
    z-index: 1;
    display: none;
}

.addListing0:hover{
    width: 46px;
    height: 46px;
    cursor: pointer; 
}

.addListing{
    position: absolute;
    padding: 5px;
    top: 125px;
    left: 3px;
    width: 50px;
    height: 50px;
    z-index: 1;
    display: none;
}

.addListing:hover{
    width: 48px;
    height: 48px;
    cursor: pointer; 
}


input:focus{
    outline:none;
}

#directionsPanel{
    position: absolute;
    top: 135px;
    left: 80px;
    width: 300px;
    height: 81px;
    

    overflow-x: hidden;
    overflow-y: scroll;

    font-family: "PT Sans";
    color: #000000;
    
    z-index: 1000;
    border-style: solid;
    border-radius: 6px;
    border-width: thin;
    border-bottom-color: white;
    background-color: white;
    /* opacity: .65; */

    box-shadow: 3px 3px 9px  black;
}

.directions_ab{
    width: 40px;

}

.handRail{
    position: absolute;
   
    top: 33px;
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: #000000;
    height: 1px;  
}

.marker-cluster-small {
    background-color: rgba(255, 165, 0, 0.6);
    }
    .marker-cluster-small div {
    background-color: rgba(220,20,60, 0.6);
    }
    .marker-cluster-medium {
    background-color: rgba(255, 165, 0, 0.6);
    }
    .marker-cluster-medium div {
    background-color: rgba(220,20,60, 0.6);
    }
    
    .marker-cluster-large {
    background-color: rgba(255, 165, 0, 0.6);
    }
    .marker-cluster-large div {
    background-color: rgba(220,20,60, 0.6);
    }

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    position: relative;
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding-left: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Customize the label (the container) */
.check-container {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 16px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 15px;
width: 15px;
background-color: #eee;
border-style: solid;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
left: 4px;
top: 0px;
width: 5px;
height: 9px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

/* Dropdown Arrow */
i {
position: relative; 
bottom: 3px;
border: solid black;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
}
.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}
